/* Custom Font Faces */

@font-face{
    font-family: 'anaheim';
    src: local('Anaheim');
    src: url('../fonts/anaheim-regular-webfont.eot'),
         url('../fonts/anaheim-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/anaheim-regular-webfont.woff') format('woff'),
         url('../fonts/anaheim-regular-webfont.ttf') format('truetype'),
         url('../fonts/anaheim-regular-webfont.svg#anaheimregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosis';
    src: local('Dosis');
    src: url('../fonts/dosis-regular-webfont.eot');
         url('../fonts/dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-regular-webfont.woff') format('woff'),
         url('../fonts/dosis-regular-webfont.ttf') format('truetype'),
         url('../fonts/dosis-regular-webfont.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosis';
    src: url('../fonts/dosis-light-webfont.eot');
    src: url('../fonts/dosis-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-light-webfont.woff') format('woff'),
         url('../fonts/dosis-light-webfont.ttf') format('truetype'),
         url('../fonts/dosis-light-webfont.svg#dosislight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'dosis';
    src: url('../fonts/dosis-bold-webfont.eot');
    src: url('../fonts/dosis-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-bold-webfont.woff') format('woff'),
         url('../fonts/dosis-bold-webfont.ttf') format('truetype'),
         url('../fonts/dosis-bold-webfont.svg#dosisbold') format('svg');
    font-weight: 900;
    font-style: normal;
}
